STATUTORY INSTRUMENTS
2020 No. 1005
PUBLIC HEALTH, ENGLAND
The Health Protection (Coronavirus, Collection of Contact Details etc and Related Requirements) Regulations 2020 (revoked)F1
Made
at 10.45 a.m. on 17th September 2020
Laid before Parliament
at 3.00 p.m. on 17th September 2020
Coming into force in accordance with regulation 2
F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)Citation, commencement and application
F11.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)F12.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)F13.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)Interpretation
F14.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)Application of requirements to certain persons or premises
F15.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)Requirement to display QR Code
F16.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)Requirement to request certain details of individuals
F17.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)Requirement to request certain details of those in a group
F18.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)Cases to which requirements in regulations 6 and 7 apply
F19.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)Details to be requested under regulation 7
F110.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)Additional details to be recorded by a relevant person
F111.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)Requirement to retain and disclose details
F112.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)F113.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)F114.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)F115.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)Requirement to refuse entry
F116.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)Offences and Penalties
F117.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)Fixed penalty notices
F118.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)Designations
F118A.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)Prosecutions
F119.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)Review
F120.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)Expiry
F121.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)Regulation 5
F1SCHEDULE
Listed Services
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5). . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.7.2021 at 11.55 p.m.) by The Health Protection (Coronavirus, Restrictions) (Steps etc.) (England) (Revocation and Amendment) Regulations 2021 (S.I. 2021/848), regs. 1(2), 2(d) (with reg. 5)