WELSH STATUTORY INSTRUMENTS
2020 No. 891 (W. 197)
EDUCATION, WALES
The Curriculum Requirements (Amendment of paragraph 7(6) of Schedule 17 to the Coronavirus Act 2020) (Wales) Regulations 2020
Approved by Senedd Cymru
Made
24 August 2020
Laid before Senedd Cymru
25 August 2020
Coming into force
26 August 2020
The Welsh Ministers make the following Regulations in exercise of their powers under paragraph 8(1) of Schedule 17 to the Coronavirus Act 2020(1).
(1)
2020 c. 7.Title and coming into force
1.—(1) The title of these Regulations is the Curriculum Requirements (Amendment of paragraph 7(6) of Schedule 17 to the Coronavirus Act 2020) (Wales) Regulations 2020.
(2) These Regulations come into force on 26 August 2020.Amendment of paragraph 7(6) of Schedule 17 to the Coronavirus Act 2020
2.—(1) The table in paragraph 7(6) of Schedule 17 to the Coronavirus Act 2020 is amended as follows.
(2) After the entry for sections 512 to 512ZB of the Education Act 1996(1), insert—
“School Standards and Framework Act 1998 Section 69 (duty to secure due provision of religious education) Any duty imposed on a person by section 69(1) is to be treated as discharged if the person has used reasonable endeavours to discharge the duty.
Education Act 1997 Section 43 (provision of careers education in schools in Wales) Any duty imposed on a person by section 43(3) is to be treated as discharged if the person has used reasonable endeavours to discharge the duty.”
(3) After the entry for section 140 of the Learning and Skills Act 2000(2), insert—
“Education Act 2002 Section 101 (basic curriculum for every maintained school in Wales) Any duty imposed on a person by virtue of section 101 is to be treated as discharged if the person has used reasonable endeavours to discharge the duty.”
(4) After the entry for section 108 of the Education Act 2002(3), insert—
“Education Act 2002 Section 109 (implementation of the National Curriculum for Wales in schools) Any duty imposed on a person by section 109 is to be treated as discharged if the person has used reasonable endeavours to discharge the duty.
Education Act 2002 Section 110 (implementation of the National Curriculum for Wales in respect of nursery schools etc) Any duty imposed on a person by section 110 is to be treated as discharged if the person has used reasonable endeavours to discharge the duty.
Education Act 2002 Sections 116A to 116K (the local curricula) Any duty imposed on a person by or under sections 116A to 116K is to be treated as discharged if the person has used reasonable endeavours to discharge the duty.”
(1)
1996 c. 56.
(2)
2000 c. 21.
(3)
2002 c. 32.Kirsty Williams
Minister for Education, one of the Welsh Ministers
24 August 2020EXPLANATORY NOTE
(This note is not part of the Regulations)
The table in paragraph 7(6) of Schedule 17 to the Coronavirus Act 2020 (“the 2020 Act”) sets out the enactments that the Welsh Ministers may, by notice under paragraph 7(1)(b) of that Schedule, modify for a period specified in the notice, and the manner in which those enactments may be modified.
Regulation 2 amends the table to add new entries for—
section 69 of the School Standards and Framework Act 1998 (duty to secure due provision of religious education);
section 43 of the Education Act 1997 (provision of careers education in schools in Wales);
section 101 of the Education Act 2002 (basic curriculum for maintained schools in Wales);
section 109 of the Education Act 2002 (implementation of the National Curriculum for Wales in schools);
section 110 of the Education Act 2002 (implementation of the National Curriculum for Wales in respect of nursery schools etc); and
sections 116A to 116K of the Education Act 2002 (local curricula for pupils in Key Stage 4).
These new entries set out the modifications that may be made to those enactments by notice under paragraph 7(1)(b) of Schedule 17 to the 2020 Act.
The Welsh Ministers’ Code of Practice on the carrying out of Regulatory Impact Assessments was considered in relation to these Regulations. As a result, it was not considered necessary to carry out a regulatory impact assessment of the costs and benefits of these Regulations.