SCOTTISH STATUTORY INSTRUMENTS
2024 No. 45
SOCIAL CARE
The Social Care and Social Work Improvement Scotland (Cancellation of Registration and Relevant Requirements) Order 2024
Made
7th February 2024
Laid before the Scottish Parliament
9th February 2024
Coming into force
1st April 2024
The Scottish Ministers make the following Order in exercise of the powers conferred by sections 64(1)(c) and 91(5)(c) of the Public Services Reform (Scotland) Act 2010(1) and all other powers enabling them to do so.
(1)
2010 asp 8. Section 105(1) contains a definition of “prescribed” relevant to the exercise of the statutory powers under which this Order is made.Citation, commencement and interpretation
1.—(1) This Order may be cited as the Social Care and Social Work Improvement Scotland (Cancellation of Registration and Relevant Requirements) Order 2024 and comes into force on 1 April 2024.
(2) In this Order—
“the 2010 Act” means the Public Services Reform (Scotland) Act 2010,
“the 2019 Act” means the Health and Care (Staffing) (Scotland) Act 2019(1).
(1)
2019 asp 6.Grounds for cancellation of registration
2.  For the purposes of section 64(1)(c) of the 2010 Act (cancellation of registration), SCSWIS may propose to cancel the registration of a care service on either or both of the following grounds—
(a)
that the service is being, or has at any time been, carried on other than in accordance with section 7 of the 2019 Act (duty on care service providers to ensure appropriate staffing),
(b)
that the service is being, or has at any time been, carried on other than in accordance with section 8 of the 2019 Act (training of staff).Relevant requirements
3.  For the purposes of section 91(5)(c) of the 2010 Act (report to Scottish Ministers), the requirements imposed by sections 7 and 8 of the 2019 Act are relevant requirements.MAREE TODD
Authorised to sign by the Scottish Ministers
St Andrew’s House,
Edinburgh
7th February 2024EXPLANATORY NOTE
(This note is not part of the Order)
This Order makes provision further to the commencement of sections 7 and 8 of the Health and Care (Staffing) (Scotland) Act 2019 (“2019 Act”) and the revocation of regulation 15 of the Social Care and Social Work Improvement Scotland (Requirements for Care Services) Regulations 2011 (S.S.I. 2011/210) under section 13(2) of the 2019 Act.
Article 2 of the Order prescribes, for the purposes of section 64(1)(c) of the Public Services Reform (Scotland) Act 2010 (“2010 Act”), grounds on which Social Care and Social Work Improvement Scotland (“SCSWIS”), commonly known as the Care Inspectorate, may propose to cancel the registration, under Chapter 3 of Part 5 of the 2010 Act, of a care service. The grounds are that the service is being, or has at any time been, carried on other than in accordance with section 7 of the 2019 Act or with section 8 of the 2019 Act. SCSWIS may propose to cancel a care service registration on either or both of these grounds. Section 7 of the 2019 Act imposes a duty on care service providers to ensure appropriate staffing, while under section 8 care service providers must ensure staff receive appropriate training for their role and are assisted in obtaining relevant qualifications.
Article 3 of the Order prescribes the requirements imposed by sections 7 and 8 of the 2019 Act as relevant requirements for the purposes of section 91(5)(c) of the 2010 Act. Section 91(5) defines “relevant requirement” for the purposes of sections 91(3)(b) and 92 of the 2010 Act. Section 91(3)(b) requires SCSWIS to report to the Scottish Ministers if it appears to them that a care service registered under Chapter 4 of Part 5 of the 2010 Act is being, or has at any time been, carried on other than in accordance with the relevant requirements. Section 92 allows the Scottish Ministers to exercise certain powers (on receipt of a report under section 91 or otherwise) if they are satisfied that such a service has not been carried on, without reasonable excuse, in accordance with the relevant requirements.