Draft Regulations laid before Parliament under section 45Q(4) of the Public Health (Control of Disease) Act 1984 for approval by resolution of each House of Parliament.
DRAFT STATUTORY INSTRUMENTS
2023 No.
PUBLIC HEALTH, ENGLAND
The Health Protection (Coronavirus, Testing Requirements and Standards) (England) (Amendment and Transitional Provision) Regulations 2023
Made
***
Coming into force
1st January 2024
The Secretary of State makes these Regulations in exercise of the powers conferred by sections 45C(1) and (3)(c), 45F(2) and 45P(2) of the Public Health (Control of Disease) Act 1984(1).
A draft of this instrument was laid before Parliament in accordance with section 45Q(4) of that Act and approved by a resolution of each House of Parliament.
In accordance with section 45D(1), the Secretary of State considers that the requirements imposed by these Regulations are proportionate to what they seek to achieve, which is a public health response to the incidence and spread of severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2) in England.
(1)
1984 c. 22; Part 2A was inserted by section 129 of the Health and Social Care Act 2008 (c. 14).Citation, commencement, extent, application and interpretation
1.—(1) These Regulations may be cited as the Health Protection (Coronavirus, Testing Requirements and Standards) (England) (Amendment and Transitional Provision) Regulations 2023 and come into force on 1st January 2024.
(2) These Regulations extend to England and Wales and apply to England only.
(3) In these Regulations, “the Principal Regulations” means the Health Protection (Coronavirus, Testing Requirements and Standards) (England) Regulations 2020(1).
(1)
S.I. 2020/1549, as amended by S.I. 2021/682.Amendment to the Principal Regulations
2.  The Principal Regulations are amended in accordance with regulations 3 to 8.Amendment to regulation 2
3.—(1) Regulation 2 (interpretation) is amended as follows.
(2) Omit the definitions of “administer”, “test provider” and “UKAS”.
(3) After the definition of “applicable test” insert—
““diagnostic laboratory” means an institution (or facility within an institution) which is equipped with apparatus and reagents for the performance of diagnostic tests for human infections;
“operator of a diagnostic laboratory” means the corporate body that operates the diagnostic laboratory, or if there is no such body, the director of the diagnostic laboratory;
“point of care test” means a diagnostic test which is not carried out in a diagnostic laboratory;
“sample collection” means the taking of, or assisting with or the supervision of the taking of, a physical sample from a person who is the subject of a test;
“testing service provider” means a person who carries out a sample collection or a point of care test, or a diagnostic laboratory.”.Amendment to regulation 3
4.—(1) Regulation 3 (applicable tests) is amended as follows.
(2) In paragraph (1)—
(a)
omit sub-paragraph (a);
(b)
in sub-paragraph (b) after “provided” insert “, by or on behalf of a testing service provider,”;
(c)
after sub-paragraph (d) insert—
“(da)
not carried out using a device for self-testing.”;
(d)
omit sub-paragraph (e).
(3) In paragraph (2)—
(a)
after sub-paragraph (a) insert—
“(aa)
“device for self-testing” has the same meaning as in regulation 32(1) of the Medical Devices Regulations 2002(1).”;
(b)
omit sub-paragraph (b).
(1)
S.I. 2002/618, to which there are amendments not relevant to these Regulations.Amendment to regulation 4
5.—(1) Regulation 4 (test requirements) is amended as follows.
(2) In paragraph (1), omit sub-paragraph (b).
(3) Omit paragraph (2).
(4) In paragraph (3), omit sub-paragraphs (b) and (c).Amendment to regulation 5
6.—(1) Regulation 5 (provider requirements) is amended as follows.
(2) In paragraph (1)—
(a)
for “test provider” substitute “testing service provider”;
(b)
for “meet the following requirements” substitute “be accredited to the relevant ISO Standard(1) by a signatory to the International Laboratory Accreditation Cooperation(2) Mutual Recognition Arrangement”;
(c)
omit “that they provide”.
(3) After paragraph (1) insert—
“(1A) The relevant ISO Standard for the purposes of paragraph (1) is—
(a)
in relation to sample collection or a point of care test, ISO Standard 15189:2022(3);
(b)
in relation to a diagnostic laboratory, either ISO Standard 15189:2022 or ISO/IEC Standard 17025:2017(4).”.
(4) Omit paragraphs (2) to (7).
(1)
ISO standards are published in Geneva by the International Organisation for Standardisation, and are available on their website (www.iso.org) or at ISO Central Secretariat, International Organization for Standardization (ISO), 1 rue de Varembé, Case postale 56, CH-1211, Geneva 20, Switzerland.
(2)
International Laboratory Accreditation Cooperation is an international organisation which coordinates the work of its signatory national accreditation bodies which are themselves involved in the accreditation of conformity assessment bodies, testing laboratories, and medical testing laboratories. The ILAC Secretariat, PO Box 7507, Silverwater, NSW 2128, Australia.
(3)
ISO 15189 Medical Laboratories requirements for quality and competence which was published in December 2022.
(4)
ISO/IEC 17025 General requirements for the competence of testing and calibration laboratories which was published in November 2017.Omission of regulation 6
7.  Omit regulation 6 (UKAS accreditation).Amendment to regulation 7
8.—(1) Regulation 7 (offences and penalties) is amended as follows.
(2) In paragraph (1)—
(a)
for “test provider” substitute “testing service provider or an operator of a diagnostic laboratory”;
(b)
for “4,” insert “4 or”;
(c)
omit “or 6”.Transitional provisions
9.—(1) A relevant person is not required to comply with regulation 5 of the Principal Regulations as amended by these Regulations until 6 December 2025(1).
(2) For the purposes of paragraph (1), a relevant person is a testing service provider who is accredited to either ISO 15189:2012 or both ISO Standards 15189:2012 and 22870:2016.
(3) A relevant applicant is not required to comply with regulation 5 of the Principal Regulations as amended by these Regulations until the date calculated in accordance with regulation 6(6B)(b) of the Principal Regulations.
(4) For the purposes of paragraph (3), a relevant applicant is a person who, prior to 1 January 2024, has made an application in accordance with regulation 6 of the Principal Regulations and is not yet accredited.
(1)
Seehttps://www.ukas.com/resources/technical-bulletins/iso-151892022-transition-process-guidance/ for the transition process to the updated ISO Standard 15189:2022.Name
Parliamentary Under Secretary of State
Department of Health and Social Care
Address
DateEXPLANATORY NOTE
(This note is not part of the Regulations)
These Regulations amend the Health Protection (Coronavirus, Testing Requirements and Standards) (England) Regulations 2020 (S.I. 2020/1549) (“the Principal Regulations”) which establish a regulatory framework for providers offering COVID-19 testing services on a commercial basis in England.
Regulation 4 makes amendments to the types of test that are subject to the Principal Regulations.
Regulation 5 updates the test device requirements to bring the requirements into line with the Medical Devices Regulations 2002 (S.I. 2002/618).
Regulation 6 requires all testing service providers to be accredited to relevant ISO Standards, and reflects the publication of the updated ISO Standard 15189:2022. Regulation 7 revokes the existing process of applying for accreditation in three stages. Regulation 8 makes necessary updates to the enforcement provision.
Regulation 9 makes transitional provisions for those testing service providers who are accredited to the previous ISO Standards to enable them to continue to provide testing services while they transition to the updated ISO Standard, and for those testing service providers already progressing through the three-stage process of applying for accreditation to continue to provide testing services while they complete that process.
A full impact assessment has not been produced for this instrument as no, or no significant, impact on the private, voluntary or public sector is foreseen.