STATUTORY INSTRUMENTS
2019 No. 1232
EXITING THE EUROPEAN UNION
FINANCIAL SERVICES AND MARKETS
The Capital Requirements (Amendment) (EU Exit) Regulations 2019 (revoked)F1
Made
at 9.00 a.m. on 5th September 2019
Laid before Parliament
at 3.00 p.m. on 5th September 2019
Coming into force in accordance with regulation 1
F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (29.8.2023) by Financial Services and Markets Act 2023 (c. 29), s. 86(3), Sch. 1 Pt. 2 (with s. 1(4)); S.I. 2023/779, reg. 3(b), Sch.F1
Textual Amendments
F1
Regulations revoked (29.8.2023) by Financial Services and Markets Act 2023 (c. 29), s. 86(3), Sch. 1 Pt. 2 (with s. 1(4)); S.I. 2023/779, reg. 3(b), Sch.
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .F1PART 1
Introduction
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (29.8.2023) by Financial Services and Markets Act 2023 (c. 29), s. 86(3), Sch. 1 Pt. 2 (with s. 1(4)); S.I. 2023/779, reg. 3(b), Sch.F1PART 2
Amendment of secondary legislation
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (29.8.2023) by Financial Services and Markets Act 2023 (c. 29), s. 86(3), Sch. 1 Pt. 2 (with s. 1(4)); S.I. 2023/779, reg. 3(b), Sch.F1PART 3
Amendment of retained direct EU law
Textual Amendments
F1
Regulations revoked (29.8.2023) by Financial Services and Markets Act 2023 (c. 29), s. 86(3), Sch. 1 Pt. 2 (with s. 1(4)); S.I. 2023/779, reg. 3(b), Sch.
Amendments to the Capital Requirements Regulation
F18.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 1 (scope)
F19.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 2 (supervisory powers)
F110.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 4 (definitions)
F111.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 4A (definitions: regulators' rules)
F112.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 6 (general principles)
F113.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Prospective
Article 11 (general treatment)
F114.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 12a (consolidated calculation for G-SIIs with multiple resolution entities)
F115.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 13 (application of disclosure requirements on a consolidated basis)
F116.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Prospective
Article 18 (methods of prudential consolidation)
F117.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 26 (Common Equity Tier 1 items)
F118.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 28 (Common Equity Tier 1 instruments)
F119.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 36 (deductions from Common Equity Tier 1 items)
F120.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 47c (deduction for non-performing exposures)
F121.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 52 (additional Tier 1 instruments)
F122.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 54 (write down or conversion of Additional Tier 1 instruments)
F123.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 63 (Tier 2 instruments)
F124.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 72a (eligible liabilities items)
F125.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 72b (eligible liabilities instruments)
F126.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 72e (deductions from eligible liabilities items)
F127.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 78 (supervisory permission to reduce own funds)
F128.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 78a (permission to reduce eligible liabilities instruments)
F129.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 81 (minority interests that qualify for inclusion in consolidated Common Equity Tier 1 capital)
F130.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 82 (qualifying Additional Tier 1, Tier 1, Tier 2 capital and qualifying own funds)
F131.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 92a (requirements for own funds and eligible liabilities for G-SIIs)
F132.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 92b (requirement for own funds and eligible liabilities for non-EU G-SIIs)
F133.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 117 (exposures to multilateral development banks)
F134.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 118 (exposures to international organisations)
F135.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Prospective
Article 124 (exposures secured by mortgages on immovable property)
F136.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 132a (approaches for calculating risk-weighted exposure amounts of CIUs)
F137.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Prospective
Article 164 (loss given default (LGD))
F138.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 277 (transactions with a linear risk profile)
F139.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 279a (supervisory delta)
F140.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325 (approaches for calculating the own funds requirements for market risk)
F141.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325g (own funds requirements for curvature risk)
F142.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325h (aggregation of risk-class specific own funds requirements for delta, vega and curvature risks)
F143.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325i (treatment of index instruments and multi-underlying options)
F144.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325j (treatment of collective investment undertakings)
F145.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325u (own funds requirements for residual risks)
F146.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325w (gross jump-to-default amounts)
F147.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325ae (risk weights for general interest rate risk)
F148.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325ag (correlations across buckets for general interest rate risk)
F149.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325ah (risk weights for credit spread risk for non-securitisations)
F150.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325ak (risk weights for credit spread risk for securitisations included in the ACTP)
F151.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325ap (risk weights for equity risk)
F152.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325as (risk weights for commodity risk)
F153.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325av (risk weights for foreign exchange risk)
F154.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325az (alternative internal model approach and permission to use alternative internal models)
F155.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325bc (partial expected shortfall calculations)
F156.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325bd (liquidity horizons)
F157.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325be (assessment of the modellability of risk factors)
F158.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325bf (regulatory back-testing requirements and multiplication factors)
F159.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325bg (profit and loss attribution requirement)
F160.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325bh (requirements on risk measurement)
F161.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325bk (calculation of stress scenario risk measure)
F162.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 325bp (particular requirements for an internal default risk model)
F163.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 390 (calculation of the exposure value)
F164.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 391 (definition of an institution for large exposures purposes)
F165.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 394 (reporting requirements)
F166.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 396 (compliance with large exposures requirements)
F167.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 403 (substitution approach)
F168.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 415 (reporting obligation and reporting format)
F169.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 419 (currencies with constraints on the availability of liquid assets)
F170.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 430 (reporting on prudential requirements and financial information)
F171.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 430b (specific reporting requirements for market risk)
F172.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 430c (feasibility report on the integrated reporting system)
F173.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 434a (uniform disclosure formats)
F174.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 460 (liquidity)
F175.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 461a (alternative standardised approach for market risk)
F176.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 497 (own funds requirements for exposures to CCPs)
F177.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 500 (adjustment for massive disposals)
F178.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 501a (adjustment to own funds requirements for credit risk for exposures to entities that operate or finance physical structures or facilities, systems and networks that provide or support essential public services)
F179.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 501b (derogation from reporting requirements)
F180.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Article 519c (compliance tool)
F181.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (29.8.2023) by Financial Services and Markets Act 2023 (c. 29), s. 86(3), Sch. 1 Pt. 2 (with s. 1(4)); S.I. 2023/779, reg. 3(b), Sch.. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (29.8.2023) by Financial Services and Markets Act 2023 (c. 29), s. 86(3), Sch. 1 Pt. 2 (with s. 1(4)); S.I. 2023/779, reg. 3(b), Sch.