STATUTORY INSTRUMENTS
2023 No. 780
CHILDREN AND YOUNG PERSONS, ENGLAND
The Early Years Foundation Stage (Learning and Development and Welfare Requirements) (Amendment) Regulations 2023
Made
10th July 2023
Laid before Parliament
12th July 2023
Coming into force
4th September 2023
The Secretary of State makes these Regulations in exercise of the powers conferred by sections 39(1), 43(1), and 44(1) of the Childcare Act 2006(1) (“the Act”).
In accordance with section 43(2) of the Act, the Secretary of State has consulted His Majesty’s Chief Inspector of Education, Children Services and Skills and other appropriate persons.
(1)
2006 c. 21. Section 44 was amended by sections 174 and 192 of, and paragraph 41 of Schedule 12 to, the Apprenticeships, Skills, Children and Learning Act 2009 (c.22) and section 84 of, and paragraph 11 of Part 2 of Schedule 4 to, the Children and Families Act 2014 (c. 6).Citation and commencement
1.  These Regulations may be cited as the Early Years Foundation Stage (Learning and Development and Welfare Requirements) (Amendment) Regulations 2023 and come into force on 4thSeptember 2023.Amendment of the Early Years Foundation Stage (Learning and Development Requirements) Order 2007
2.  In article 2 (Interpretation) of the Early Years Foundation Stage (Learning and Development Requirements) Order 2007(1), for the definition of the “the Document” substitute—
““the Document” means the document entitled “Statutory Framework for the Early Years Foundation Stage” dated 12thJuly 2023 and published by the Secretary of State on the gov.uk website(2)”.
(1)
S.I. 2007/1772. Article 2 was amended by S.I. 2021/432. There are other amendments, but they are not relevant to these Regulations.
(2)
Early years foundation stage (EYFS) statutory framework – GOV.UK (www.gov.uk).Amendment of the Early Years Foundation Stage (Welfare Requirements) Regulations 2012
3.  In regulation 2 (Interpretation) of the Early Years Foundation Stage (Welfare Requirements) Regulations 2012(1), for the definition of “the Document” substitute—
““the Document” means the document entitled “Statutory Framework for the Early Years Foundation Stage” dated 12th July 2023 and published by the Secretary of State on the gov.uk website(2)”.
(1)
S.I. 2012/938. Regulation 2 was amended S.I. 2021/432. There are other amendments, but they are not relevant to these Regulations.
(2)
Early years foundation stage (EYFS) statutory framework – GOV.UK (www.gov.uk).Claire Coutinho
Parliamentary Under Secretary of State
Department for Education
10th July 2023EXPLANATORY NOTE
(This note is not part of the Regulations)
These Regulations amend the Early Years Foundation Stage (Learning and Development Requirements) Order 2007 (S.I. 2007/1772) (“the 2007 Order”) and the Early Years Foundation Stage (Welfare Requirements) Regulations 2012 (S.I. 2012/938) (“the 2012 Regulations”).
Regulation 2 amends the 2007 Order. Regulation 3 amends the 2012 Regulations. Both amendments provide for reference to be made to an updated version of the Statutory Framework for the Early Years Foundation Stage (“the Document”). The changes made to the Document include:
a change to the current statutory minimum staff:child ratios in England for 2-year-olds from 1:4 to 1:5;
clarifying that childminders can care for more than the specified maximum of three young children if they are caring for siblings of children they already care for, or if the childminder is caring for their own child;
clarifying that “adequate supervision” while children are eating means that children must be within sight and hearing of an adult.
The updated version of the Document is available on the gov.uk website and hard copies of the Document can be viewed at the Department for Education, Sanctuary Buildings, 20 Great Smith Street, London SW1P 3BT.
A full impact assessment has been prepared for these Regulations. It is annexed to the Explanatory Memorandum which is available alongside the instrument on the OPSI website https://www.legislation.gov.uk.