Regulations made by the Welsh Ministers, laid before Senedd Cymru under paragraph 8 of Schedule 17 to the Coronavirus Act 2020 (c.7), for approval by resolution of Senedd Cymru within 40 days beginning with the day on which the instrument is made.
WELSH STATUTORY INSTRUMENTS
2020 No. 624 (W. 144)
EDUCATION, WALES
The Curriculum Requirements (Amendment of paragraph 7(5) of Schedule 17 to the Coronavirus Act 2020) (Wales) Regulations 2020
Made
at 10.00 a.m. on 22 June 2020
Laid before Senedd Cymru
at 4.00 p.m. on 22 June 2020
Coming into force
23 June 2020
The Welsh Ministers make the following Regulations in exercise of their powers under paragraph 8 of Schedule 17 to the Coronavirus Act 2020(1).
(1)
2020 c. 7.Title and coming into force
1.—(1) The title of these Regulations is the Curriculum Requirements (Amendment of paragraph 7(5) of Schedule 17 to the Coronavirus Act 2020) (Wales) Regulations 2020.
(2) These Regulations come into force on 23 June 2020.Amendment of paragraph 7(5) of Schedule 17 to the Coronavirus Act 2020
2.  In paragraph 7(5) of Schedule 17 to the Coronavirus Act 2020—
(a)
insert after paragraph (c)—
“(ca)
section 69 of, and Schedule 19 to, the School Standards and Framework Act 1998 (duty to secure due provision of religious education);”;
(b)
insert after paragraph (e)—
“(ea)
section 109 of that Act (implementation of the National Curriculum in maintained schools);
(eb)
section 110 of that Act (implementation of the National Curriculum in nursery schools etc.);
(ec)
sections 116A to 116K of that Act (the local curricula);”;
(c)
insert after paragraph (g)—
“(h)
the National Curriculum (Key Stage 2 Assessment Arrangements) (Wales) Order 2004 (S.I. 2004/2915 (W. 254));
(i)
the National Curriculum (Key Stage 3 Assessment Arrangements) (Wales) Order 2005 (S.I. 2005/1394 (W. 108));
(j)
the Education (National Curriculum) (Assessment Arrangements for Reading and Numeracy) (Wales) Order 2013 (S.I. 2013/433 (W. 51));
(k)
the National Curriculum (Assessment Arrangements for the Foundation Phase and the Second and Third Key Stages) (Wales) Order 2014 (S.I. 2014/1999 (W. 200));
(l)
the National Curriculum (Moderation of Assessment Arrangements for the Second and Third Key Stages) (Wales) Order 2015 (S.I. 2015/1309 (W. 113));
(m)
the National Curriculum (Desirable Outcomes, Educational Programmes and Baseline and End of Phase Assessment Arrangements for the Foundation Phase) (Wales) Order 2015 (S.I. 2015/1596 (W. 195)).”Kirsty Williams
Minister for Education, one of the Welsh Ministers
At 10.00 a.m. on 22 June 2020EXPLANATORY NOTE
(This note is not part of the Regulations)
Paragraph 7(5) of Schedule 17 to the Coronavirus Act 2020 lists enactments that can be disapplied by the Welsh Ministers for a specified period by notice. Regulation 2 adds section 69 of, and Schedule 19 to, the School Standards and Framework Act 1998 and sections 109, 110 and 116A to 116K of the Education Act 2002, together with orders made under section 108 of that Act, to that list. The provisions added confer functions on local authorities, governing bodies, head teachers and others in relation to the provision of religious education, the National Curriculum for Wales and the local curriculum.