SCOTTISH STATUTORY INSTRUMENTS
2021 No. 86
PUBLIC HEALTH
The Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Amendment (No. 16) Regulations 2021
Approved by the Scottish Parliament
Made
18th February 2021
Coming into force
19th February 2021
Laid before the Scottish Parliament
at 9.00 a.m. on 19th February 2021
The Scottish Ministers make the following Regulations in exercise of the power conferred by paragraph 1(1) of schedule 19 of the Coronavirus Act 2020(1) (“the Act”) and all other powers enabling them to do so.
These Regulations are made in response to the serious and imminent threat to public health which is posed by the incidence and spread of coronavirus in Scotland.
The Scottish Ministers consider that the restrictions and requirements imposed by these Regulations are proportionate to what they seek to achieve, which is a public health response to that threat.
In accordance with paragraph 6(2) and (3) of schedule 19 of the Act, the Scottish Ministers are of the opinion that, by reason of urgency, it is necessary to make these Regulations without a draft having been laid before, and approved by, a resolution of the Scottish Parliament.
(1)
2020 c.7.Citation and commencement
1.  These Regulations may be cited as the Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Amendment (No. 16) Regulations 2021 and come into force on 19 February 2021.Amendment of the Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Regulations 2020
2.  The Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Regulations 2020(1) are amended in accordance with regulation 3.
(1)
S.S.I. 2020/344, amended by S.S.I. 2020/347, S.S.I. 2020/374, S.S.I. 2020/389, S.S.I. 2020/392, S.S.I. 2020/400, S.S.I. 2020/415, S.S.I. 2020/427, S.S.I. 2020/439, S.S.I. 2020/452, S.S.I. 2020/471, S.S.I. 2021/1, S.S.I. 2021/3, S.S.I. 2021/17, S.S.I. 2021/25, S.S.I. 2021/35, S.S.I. 2021/49 and S.S.I. 2021/54.Amendment to schedule 5: level 4 restrictions
3.  In schedule 5 (level 4 restrictions)—
(a)
after paragraph 4B (requirement to cease mobile close contact services or vehicle driving lessons or tests in respect of Level 4 areas) insert—
“Exemption for certain driving lessons and tests in Level 4 areas
4C.—(1) Paragraphs 4A and 4B(2), (4) and (5) do not prevent a person providing a driving test—
(a)
in accordance with their appointment under regulation 23(1)(c), (db) or (e) or 24(1)(cb), (d) or (f) of the 1999 Regulations, or
(b)
for the purposes of the 2007 Regulations, where that person is appointed to conduct driving tests under regulations 23(1)(e) or 24(1)(f) of the 1999 Regulations.
(2) Paragraphs 4A and 4B(2), (4) and (5) do not prevent a person providing a driving lesson—
(a)
for the purpose of delivering training prior to a test that will be conducted in accordance with sub-paragraph (1)(a), or
(b)
for the purpose of delivering training required by the 2007 Regulations, where that person is an eligible person to be appointed under regulations 23(1)(e) or 24(1)(f) of the 1999 Regulations.
(3) In this paragraph—
“the 1999 Regulations” means the Motor Vehicles (Driving Licences) Regulations 1999(1),
“the 2007 Regulations” means the Vehicle Drivers (Certificate of Professional Competence) Regulations 2007(2).”,
(b)
in paragraph 16 (restrictions on movement: examples of reasonable excuse) after sub-paragraph (2)(z) insert—
“(za)
access or undertake driving lessons or take a driving test where the lesson or test is permitted under this schedule.”,
(c)
in paragraph 18 (requirement to stay at home in level 4 areas: examples of reasonable excuse) after sub-paragraph (2)(z) insert—
“(za)
access or undertake driving lessons or take a driving test where the lesson or test is permitted under this schedule.”.
(1)
S.I. 1999/2864, relevantly amended by S.S.I. 2005/344, S.I. 2007/698, S.I. 2009/788, S.I. 2010/1203, S.I. 2011/3058 and S.S.I. 2013/119.
(2)
S.I. 2007/605, amended by S.I. 2008/506, S.I. 2008/1965, S.I. 2010/865, S.I. 2010/1111, S.I. 2011/996, S.I. 2011/2324, S.I. 2013/602, S.I. 2013/1753, S.I. 2013/2667, S.I. 2014/1816, S.I. 2014/2264, S.I. 2015/583, S.I. 2015/2024, S.I. 2018/1004 and S.I. 2020/662.MICHAEL MATHESON
A member of the Scottish Government
St Andrew’s House,
Edinburgh
18th February 2021EXPLANATORY NOTE
(This note is not part of the Regulations)
These Regulations amend the Health Protection (Restrictions and Requirements) (Local Levels) (Scotland) Regulations 2020 (“the Local Levels Regulations”). These Regulations come into force on 19 February 2021.
Regulation 3 adds paragraph 4C to schedule 5 of the Local Levels Regulations to allow for certain driving lessons and tests to be conducted in a Level 4 area.
Paragraph 4C(1) provides that driving tests may be provided by a person who is appointed to carry out tests under regulations 23(1)(c), (db) or (e) or regulation 24(1)(cb), (d) or (f) of the Motor Vehicles (Driving Licences) Regulations 1999 (“the 1999 Regulations”). These provisions in the 1999 Regulations enable the police and fire services to provide driving tests for their employees. They also enable a bus company, where the company has been appointed for such purposes under the 1999 Regulations, to provide driving tests for its employees.
Paragraph 4C(2) provides that driving lessons may be provided for the purpose of preparing for employee driving tests to be conducted by the police and fire services and bus companies. Driving lessons may also be provided for the employees of bus companies in order to comply with the training requirements in the Vehicle Drivers (Certificate of Professional Competence) Regulations 2007.
Paragraphs 16, in relation to the restrictions on movement, and 18, in relation to the requirement to stay at home, in schedule 5, are also amended to specify that it is a reasonable excuse to access or undertake a driving lesson or take a driving test permitted under schedule 5.