SCOTTISH STATUTORY INSTRUMENTS
2021 No. 115
NATIONAL ASSISTANCE SERVICES
The National Assistance (Assessment of Resources and Sums for Personal Requirements) Amendment (Scotland) Regulations 2021 (revoked)F1
Made
at 12.45 p.m. on 3rd March 2021
Laid before the Scottish Parliament
at 4.30 p.m. on 3rd March 2021
Coming into force
5th April 2021
F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (10.4.2023) by The National Assistance (Assessment of Resources) Amendment (Scotland) Regulations 2023 (S.S.I. 2023/19), regs. 1(1), 6(b)Citation, commencement and extent
F11.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (10.4.2023) by The National Assistance (Assessment of Resources) Amendment (Scotland) Regulations 2023 (S.S.I. 2023/19), regs. 1(1), 6(b)Amendment of the National Assistance (Assessment of Resources) Amendment (Scotland) Regulations 2021
F12.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (10.4.2023) by The National Assistance (Assessment of Resources) Amendment (Scotland) Regulations 2023 (S.S.I. 2023/19), regs. 1(1), 6(b)Amendment of the National Assistance (Sums for Personal Requirements) (Scotland) Regulations 2021
F13.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (10.4.2023) by The National Assistance (Assessment of Resources) Amendment (Scotland) Regulations 2023 (S.S.I. 2023/19), regs. 1(1), 6(b)F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (10.4.2023) by The National Assistance (Assessment of Resources) Amendment (Scotland) Regulations 2023 (S.S.I. 2023/19), regs. 1(1), 6(b). . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (10.4.2023) by The National Assistance (Assessment of Resources) Amendment (Scotland) Regulations 2023 (S.S.I. 2023/19), regs. 1(1), 6(b)