SCOTTISH STATUTORY INSTRUMENTS
2022 No. 6
PUBLIC HEALTH
The Health Protection (Coronavirus) (Requirements) (Scotland) Amendment Regulations 2022
Approved by the Scottish Parliament
Made
at 11.15 a.m. on 13th January 2022
Laid before the Scottish Parliament
at 3.00 p.m. on 13th January 2022
Coming into force
17th January 2022
The Scottish Ministers make the following Regulations in exercise of the power conferred by paragraph 1(1) of schedule 19 of the Coronavirus Act 2020(1) (“the Act”) and all other powers enabling them to do so.
These Regulations are made in response to the serious and imminent threat to public health which is posed by the incidence and spread of coronavirus in Scotland.
The Scottish Ministers consider that the requirements imposed by the Regulations are proportionate to what they seek to achieve, which is a public health response to that threat.
In accordance with paragraph 6(2) and (3) of schedule 19 of the Act, the Scottish Ministers are of the opinion that, by reason of urgency, it is necessary to make these Regulations without a draft having been laid before, and approved by a resolution of, the Scottish Parliament.
(1)
2020 c. 7.Citation and commencement
1.  These Regulations may be cited as the Health Protection (Coronavirus) (Requirements) (Scotland) Amendment Regulations 2022 and come into force on 17 January 2022.Amendment of the Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021
2.—(1) The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021(1) are amended in accordance with paragraphs (2) to (4).
(2) In regulation 4A(3)(2) (requirements to take measures to ensure the required distance is maintained) in the definition of “relevant leisure premises”—
(a)
in paragraph (k) insert “indoor” after “other”,
(b)
in paragraph (m) insert “indoor” before “event venues”,
(c)
in paragraph (y) for “sports stadiums” substitute “indoor sports stadiums and any indoor area at an outdoor sports stadium”.
(3) In regulation 7E(3) (interpretation of regulations 7A to 7D)—
(a)
in paragraph (1)—
(i)
for the definition of “authorised vaccine” substitute—
““authorised vaccine” means a medicinal product for vaccination against coronavirus which is authorised—
(a)
for supply in the United Kingdom in accordance with a marketing authorisation, or
(b)
by the licensing authority on a temporary basis under regulation 174 (supply in response to spread of pathogenic agents etc.) of the Human Medicines Regulations 2012(4),”,
(ii)
for the definition of “fully vaccinated” substitute—
““fully vaccinated” means that a person has—
(a)
completed a first course of an authorised vaccine with the final dose (or, if that course consists of only one dose, the dose) having been received—
(i)
before the start of the period beginning with the 14th day before the date on which they seek to enter the late night premises or relevant event, and
(ii)
no more than 120 days before the date on which they seek to enter the late night premises or relevant event, or
(b)
completed a first course and a subsequent course of an authorised vaccine with the subsequent course dose having been received before the start of the period beginning with the 10th day before the date on which they seek to enter the late night premises or relevant event,”,
(iii)
after the definition of “late night premises” insert—
““the licensing authority” has the meaning given in regulation 6(2) (the licensing authority and the Ministers) of the Human Medicines Regulations 2012,
“marketing authorisation” has the meaning given to it in regulation 8(1) (general interpretation) of the Human Medicines Regulations 2012,”,
(b)
in paragraph (2)—
(i)
in sub-paragraph (a) for “course of doses” substitute “first course of an authorised vaccine” in the first place where it appears,
(ii)
in sub-paragraph (b) for “course of doses” substitute “first course”,
(iii)
after sub-paragraph (b) insert—
“,
(c)
a person (“P”) has completed a subsequent course of an authorised vaccine if an additional course of an authorised vaccine has, at least 12 weeks after P completed a first course of an authorised vaccine, been administered to P for the purpose of boosting P’s immunity to coronavirus,
(d)
a vaccine is not to be considered an authorised vaccine for the purpose of a subsequent course if it is not for the time being in use for this purpose in the United Kingdom.”.
(4) In regulation 7F(1)(5) (capacity limits on live events) omit sub-paragraph (a).
(1)
S.S.I. 2021/277 amended by S.S.I. 2021/299, S.S.I. 2021/349, S.S.I. 2021/384, S.S.I. 2021/453, S.S.I. 2021/475, S.S.I. 2021/496, S.S.I. 2021/497 and S.S.I. 2021/498.
(2)
Regulation 4A is inserted by S.S.I. 2021/496.
(3)
Regulation 7E is inserted by S.S.I. 2021/349 and amended by S.S.I. 2021/453.
(4)
S.I. 2012/1916.
(5)
Regulation 7F is inserted by S.S.I. 2021/496.JOHN SWINNEY
A member of the Scottish Government
St Andrew’s House,
Edinburgh
At 11.15 a.m. on 13th January 2022EXPLANATORY NOTE
(This note is not part of the Regulations)
These Regulations amend the Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (“the principal Regulations”).
Regulation 2(2) amends the definition of “relevant leisure premises” in regulation 4A(3) of the principal Regulations to remove the legal requirement for one metre physical distancing in outdoor event venues, outdoor exhibitions and outdoor spaces in sports stadiums.
Regulation 2(3) amends regulation 7(E) of the principal Regulations.
Regulation 2(3)(a) makes changes to defined terms used in relation to certification requirements in regulation 7E(1) of the principal Regulations, by: amending the definition of authorised vaccine to ensure an authorised vaccine is one which is authorised by the relevant authorities in the United Kingdom; changing the definition of fully vaccinated to encompass both a first course of an authorised vaccine, and a booster course, if the final dose of the authorised vaccine was more than 120 days before an individual’s vaccination status is checked as part of certification requirements; and inserting definitions of licensing authority and marketing authorisation in connection with the definition of authorised vaccine.
Regulation 2(3)(b) amends regulation 7E(2) of the principal Regulations to define a first course of doses (being an initial course of doses of vaccine against coronavirus) and second course of doses (constituting the booster vaccine) for the purposes of the change to the definition of ‘fully vaccinated’.
Regulation 2(4) amends regulation 7F of the principal Regulations which places capacity limits on live events. The amendment removes the requirement that a person must not organise an outdoor live event at which more than 500 people will be in attendance.