SCOTTISH STATUTORY INSTRUMENTS
2022 No. 92
PUBLIC HEALTH
The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation Regulations 2022
Made
at 12.00 p.m. on 16th March 2022
Laid before the Scottish Parliament
at 2.30 p.m. on 16th March 2022
Coming into force
21st March 2022
The Scottish Ministers make the following Regulations in exercise of the power conferred by paragraph 1(1) of schedule 19 of the Coronavirus Act 2020(1) (“the Act”) and all other powers enabling them to do so.
These Regulations are made in response to the serious and imminent threat to public health which is posed by the incidence and spread of coronavirus in Scotland.
The Scottish Ministers consider that the requirements imposed by these Regulations are proportionate to what they seek to achieve, which is a public health response to that threat.
In accordance with paragraph 6(2), (3) and (4) of schedule 19 of the Act, the Scottish Ministers are of the opinion that, by reason of urgency, it is necessary to make these Regulations without a draft having been laid before, and approved by a resolution of, the Scottish Parliament.
(1)
2020 c. 7.Citation and commencement
1.  These Regulations may be cited as the Health Protection (Coronavirus) (Requirements) (Scotland) Revocation Regulations 2022 and come into force on 21 March 2022.Amendment of the Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021
2.—(1) The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021(1) are amended in accordance with paragraphs (2) to (4).
(2) In regulation 2 (interpretation), omit the definition of “alcohol”.
(3) Omit regulations—
(a)
3 (requirement to collect and share information: restaurants, cafes, bars, public houses etc.),
(b)
4 (guidance on minimising exposure to and requirement to take measures to minimise incidence and spread of coronavirus),
(c)
16A (power of entry), and
(d)
17(10) (fixed penalty notices).
(4) In regulation 15 (enforcement of requirements) omit—
(a)
at the end of paragraph (8)(a) “, or”,
(b)
paragraph (8)(b), and
(c)
paragraph (9).
(5) In regulation 16(1) (offences and penalties) omit “, other than the requirement in regulation 4(1)(b)”.
(1)
S.S.I. 2021/277 as relevantly amended by S.S.I. 2021/349, S.S.I. 2021/475, S.S.I. 2021/496, S.S.I. 2021/497, S.S.I. 2022/13 and S.S.I. 2022/74.JOHN SWINNEY
A member of the Scottish Government
St Andrew’s House,
Edinburgh
At 12.00 p.m. on 16th March 2022EXPLANATORY NOTE
(This note is not part of the Regulations)
These Regulations amend the Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (“the Principal Regulations”).
Regulations (2)(3)(a) and (b) remove the requirement for persons responsible for restaurants, cafes, bars, public houses etc. to collect and share visitor information (regulation 3 of the Principal Regulations) and the requirement for a person responsible for a place of worship, carrying on a business or providing a service to have regard to guidance issued by the Scottish Ministers and to take measures to minimise the incidence and spread of coronavirus (regulation 4 of the Principal Regulations).
Regulation 2(2) removes the definition of “alcohol” from regulation 2 of the Principal Regulations as that term no longer appears. The remaining regulations make consequential changes following the revocation of regulations 3 and 4 of the Principal Regulations. These include removing regulations 15(8)(b) and (9), 16A and 17(10) of the Principal Regulations due to cross-referencing regulations 3 and 4 of the Principal Regulations. Likewise regulation 2(5) omits a reference in regulation 16(1) of the Principal Regulations to regulation 4(1)(b) of the Principal Regulations.