SCOTTISH STATUTORY INSTRUMENTS
2022 No. 70
NATIONAL ASSISTANCE SERVICES
The National Assistance (Sums for Personal Requirements) (Scotland) Regulations 2022 (revoked)F1
Made
23rd February 2022
Laid before the Scottish Parliament
24th February 2022
Coming into force
11th April 2022
F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (10.4.2023) by The National Assistance (Sums for Personal Requirements) (Scotland) Regulations 2023 (S.S.I. 2023/20), regs. 1(1), 3Citation, commencement and extent
F11.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (10.4.2023) by The National Assistance (Sums for Personal Requirements) (Scotland) Regulations 2023 (S.S.I. 2023/20), regs. 1(1), 3Sum needed for personal requirements
F12.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (10.4.2023) by The National Assistance (Sums for Personal Requirements) (Scotland) Regulations 2023 (S.S.I. 2023/20), regs. 1(1), 3Revocations
F13.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (10.4.2023) by The National Assistance (Sums for Personal Requirements) (Scotland) Regulations 2023 (S.S.I. 2023/20), regs. 1(1), 3F14.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (10.4.2023) by The National Assistance (Sums for Personal Requirements) (Scotland) Regulations 2023 (S.S.I. 2023/20), regs. 1(1), 3F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (10.4.2023) by The National Assistance (Sums for Personal Requirements) (Scotland) Regulations 2023 (S.S.I. 2023/20), regs. 1(1), 3. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (10.4.2023) by The National Assistance (Sums for Personal Requirements) (Scotland) Regulations 2023 (S.S.I. 2023/20), regs. 1(1), 3