STATUTORY INSTRUMENTS
2021 No. 185
CIVIL AVIATION
The Airports Slot Allocation (Alleviation of Usage Requirements) Regulations 2021
Made
23rd February 2021
Laid before Parliament
26th February 2021
Coming into force
26th March 2021
The Secretary of State makes these Regulations in exercise of the powers conferred by Article 10a(4) of Council Regulation (EEC) No 95/93 of 18 January 1993 on common rules for the allocation of slots at United Kingdom airports(1).
The Secretary of State has found, on the basis of figures published by Eurocontrol or other relevant data, that the reduction in the level of air traffic as compared to the level in the corresponding period in the previous year is persisting and is likely to persist, and has also found, on the basis of the best available scientific data, that this situation is the result of the impact of the outbreak of COVID-19.
(1)
EUR 95/1993, as amended by S.I. 2019/276 and 2021/100.Citation, commencement, extent and application
1.—(1) These Regulations may be cited as the Airports Slot Allocation (Alleviation of Usage Requirements) Regulations 2021 and they come into force on 26th March 2021.
(2) These Regulations extend to, and apply in relation to airports located in, England and Wales and Scotland.Amendment of Council Regulation (EEC) No 95/93
2.  In Council Regulation (EEC) No 95/93 of 18 January 1993 on common rules for the allocation of slots at United Kingdom airports, in Article 10a(1), for “27 March 2021” substitute “30 October 2021”.Signed by authority of the Secretary of State for Transport
Robert Courts
Parliamentary Under Secretary of State
Department for Transport
23rd February 2021EXPLANATORY NOTE
(This note is not part of the Regulations)
These Regulations make amendments to retained EU law in the field of aviation, relating to the allocation of slots at congested airports. They amend the period, set out in Article 10a(1) of Council Regulation (EEC) No 95/93 of 18 January 1993 on common rules for the allocation of slots at United Kingdom airports, during which slot coordinators are to consider slots to have been operated by the air carrier to which they were initially allocated. The end date of the period is amended from 27 March 2021 to 30 October 2021.
A full impact assessment has not been produced for this instrument as it makes provision which is to have effect for a period of less than 12 months. An Explanatory Memorandum has been published alongside this instrument at www.legislation.gov.uk.