SCOTTISH STATUTORY INSTRUMENTS
2020 No. 452
PUBLIC HEALTH
The Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Amendment (No. 8) Regulations 2020
Approved by the Scottish Parliament
Made
20th December 2020
Laid before the Scottish Parliament
21st December 2020
Coming into force in accordance with regulation 1(2) and (3)
The Scottish Ministers make the following Regulations in exercise of the power conferred by paragraph 1(1) of schedule 19 of the Coronavirus Act 2020(1) and all other powers enabling them to do so.
These Regulations are made in response to the serious and imminent threat to public health which is posed by the incidence and spread of coronavirus in Scotland.
The Scottish Ministers consider that the restrictions and requirements imposed by these Regulations are proportionate to what they seek to achieve, which is a public health response to that threat.
In accordance with paragraph 6(2) and (3) of schedule 19 of the Act, the Scottish Ministers are of the opinion that, by reason of urgency, it is necessary to make these Regulations without a draft having been laid before, and approved by, a resolution of the Scottish Parliament.
(1)
2020 c.7.Citation and commencement
1.—(1) These Regulations may be cited as the Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Amendment (No. 8) Regulations 2020.
(2) Subject to paragraph (3), these Regulations come into force on 21 December 2020.
(3) Regulation 5 comes into force on 26 December 2020.Amendment of the Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Regulations 2020
2.  The Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Regulations 2020(1) are amended in accordance with regulations 3 to 5.
(1)
S.S.I. 2020/344, amended by S.S.I. 2020/347, S.S.I. 2020/374, S.S.I. 2020/389, S.S.I. 2020/392, S.S.I. 2020/400, S.S.I. 2020/ 415, S.S.I. 2020/427 and S.S.I. 2020/ 439.Amendment to modifications of the restrictions in certain areas
3.  Omit regulation 3A (modification of the restrictions in certain areas).Amendment to temporary modification of restrictions: holiday gatherings
4.—(1) In regulation 3B(1) (temporary modification of restrictions: holiday gatherings) omit “For the period beginning on 23 December 2020 and ending at 11:59 p.m. on 27 December 2020” and substitute “On 25 December”,
(2) In regulation 3B(1)(d)(iii) omit “or a gathering in the Republic of Ireland or Jersey, or a gathering in England, Wales or Northern Ireland”,
(3) Omit regulation 3B(1)(e)(i) and (ii),
(4) In regulation 3B(1)(e)(v) omit “or a gathering in the Republic of Ireland or Jersey, or a gathering in England, Wales or Northern Ireland”,
(5) Omit regulation 3B(1)(f),
(6) Omit regulation 3B(2).Amendment to Schedule 6
5.  For Schedule 6 substitute—
Regulation 3(6)
“SCHEDULE 6
Areas
1.—(1) This is the table referred to in regulation 3(6).
(2) The entries in column 2 are references to local government areas except as otherwise specified.
Column (1) Column (2) Column (3)
Area Level of Area
1 East Ayrshire 4
2 North Ayrshire 4
3 South Ayrshire 4
4 Scottish Borders 4
5 Dumfries and Galloway 4
6 Fife 4
7 Clackmannanshire 4
8 Falkirk 4
9 Stirling 4
10 Moray 4
11 Aberdeen City 4
12 Aberdeenshire 4
13 East Renfrewshire 4
14 Inverclyde 4
15 Renfrewshire 4
16 West Dunbartonshire 4
17 East Dunbartonshire 4
18 Glasgow City 4
19 Highland (except the areas set out in row 20) 4
20 The islands in Highland area (except the Isle of Skye) 3
21 Argyll and Bute (except the areas set out in row 22) 4
22 The Isle of Coll, the Isle of Colonsay, the Isle of Erraid, the Isle of Gometra, the Isle of Iona, the Isle of Islay, the Isle of Jura, the Isle of Mull, the Isle of Oronsay, the Isle of Tiree, and the Isle of Ulva 3
23 South Lanarkshire 4
24 North Lanarkshire 4
25 East Lothian 4
26 Midlothian 4
27 City of Edinburgh 4
28 West Lothian 4
29 Orkney Islands 3
30 Shetland Islands 3
31 Angus 4
32 Dundee City 4
33 Perth and Kinross 4
34 Na h-Eileanan Siar 3”MICHAEL MATHESON
A member of the Scottish Government
St Andrew’s House,
Edinburgh
20th December 2020EXPLANATORY NOTE
(This note is not part of the Regulations)
These Regulations amend the Health Protection (Restrictions and Requirements) (Local Levels) (Scotland) Regulations 2020 (“the Local Levels Regulations”). With the exception of regulation 5, these Regulations come into force on 21 December 2020. Regulation 5 comes into force on 26 December.
Regulation 3 omits regulation 3A(modification of the restrictions in certain areas) from the Local Levels Regulations. This would have permitted limited in-house socialising on certain islands. This is no longer permitted.
Regulation 4 amends regulation 3B of the Local Level Regulations so that the temporary modification of restrictions: holiday gatherings will only have effect on 25 December 2020. It also provides that travel to an area outside of Scotland for the purpose of a holiday gathering is not permitted.
Regulation 5 substitutes Schedule 6 of the Local Level Regulations with a fresh Schedule. This schedule inserts two further areas into the table: (20) The islands in the Highland area (except the Isle of Skye) and (22) The Isle of Coll, the Isle of Colonsay, the Isle of Erraid, the Isle of Gometra, the Isle of Iona, the Isle of Islay, the Isle of Jura, the Isle of Mull, the Isle of Oronsay, the Isle of Tiree, and the Isle of Ulva.
The Schedule also changes the levels of restrictions and requirements which apply so that Level 4 applies to all areas, apart from the following exceptions which will move to Level 3:
20)
The islands in the Highland area (except the Isle of Skye),
22)
The Isle of Coll, the Isle of Colonsay, the Isle of Erraid, the Isle of Gometra, the Isle of Iona, the Isle of Islay, the Isle of Jura, the Isle of Mull, the Isle of Oronsay, the Isle of Tiree, and the Isle of Ulvathe islands of Argyll and Bute,
27)
Orkney Islands,
28)
Shetland Islands, and
32)
Na h-Eileanan Siar (These restrictions come into force at 0000 hours at 26 December 2020.