SCOTTISH STATUTORY INSTRUMENTS
2020 No. 344
PUBLIC HEALTH
The Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Regulations 2020 (revoked)F1
Approved by the Scottish Parliament
Made
at 12.40 p.m. on 30th October 2020
Laid before the Scottish Parliament
at 2.45 p.m. on 30th October 2020
Coming into force
at 6.00 a.m. on 2nd November 2020
F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Citation, commencement and application
F11.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Interpretation
F12.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Application of the Restrictions
F13.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Modification of the restrictions in certain areas
F13A.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Temporary modification of restrictions: holiday gatherings
F13B.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Enforcement of requirements
F14.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Offences and penalties
F15.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Power of entry
F16.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Fixed penalty notices
F17.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Review of restrictions and requirements
F18.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Expiry
F19.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Amendment of the Health Protection (Coronavirus, Restrictions) (Directions by Local Authorities) (Scotland) Regulations 2020
F110.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Revocations
F111.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Regulation 3(1)
F1SCHEDULE 1
Level 0 Restrictions
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Regulation 3(2)
F1SCHEDULE 2
Level 1 Restrictions
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Regulation 3(3)
F1SCHEDULE 3
Level 2 Restrictions
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Regulation 3(4)
F1SCHEDULE 4
Level 3 Restrictions
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Regulation 3(5)
F1SCHEDULE 5
Level 4 Restrictions
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Regulation 3(6)
F1SCHEDULE 6
Areas
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Regulation 3
F1SCHEDULE 7
Face Covering Requirements
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Regulation 3(5B)
F1SCHEDULE 7A
Restrictions on leaving or entering Scotland: common travel area
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20Regulation 11
F1SCHEDULE 8
Revocations
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (9.8.2021) by The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/277), regs. 1(1), 20