SCOTTISH STATUTORY INSTRUMENTS
2022 No. 13
PUBLIC HEALTH
The Health Protection (Coronavirus) (Requirements) (Scotland) Amendment (No. 2) Regulations 2022
Approved by the Scottish Parliament
Made
at 11.20 a.m. on 20th January 2022
Laid before the Scottish Parliament
at 3.00 p.m. on 20th January 2022
Coming into force
at 5.00 a.m. on 24th January 2022
The Scottish Ministers make the following Regulations in exercise of the power conferred by paragraph 1(1) of schedule 19 of the Coronavirus Act 2020(1) (“the Act”) and all other powers enabling them to do so.
These Regulations are made in response to the serious and imminent threat to public health which is posed by the incidence and spread of coronavirus in Scotland.
The Scottish Ministers consider that the requirements imposed by the Regulations are proportionate to what they seek to achieve, which is a public health response to that threat.
In accordance with paragraph 6(2) and (3) of schedule 19 of the Act, the Scottish Ministers are of the opinion that, by reason of urgency, it is necessary to make these Regulations without a draft having been laid before, and approved by a resolution of, the Scottish Parliament.
(1)
2020 c. 7.Citation and commencement
1.  These Regulations may be cited as the Health Protection (Coronavirus) (Requirements) (Scotland) Amendment (No. 2) Regulations 2022 and come into force at 5.00 a.m. on 24 January 2022.Amendment of the Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021
2.—(1) The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021(1) are amended in accordance with paragraphs (2) to (6).
(2) In regulation 2 (interpretation), omit the definition of “live event”.
(3) Omit regulations—
(a)
4A (requirements to take measures to ensure the required distance is maintained),
(b)
4B (requirement for seated food and drink consumption),
(c)
4C (requirement to close nightclubs etc. to members of the public), and
(d)
4D (nightclubs etc. – supplemental provision – licensing).
(4) In regulation 7E(1) (interpretation of regulations 7A to 7D), in the definition of “late night premises”, for paragraph (b) substitute—
“(b)
there is a dancefloor or space where dancing by customers takes place, and”.
(5) Omit regulation 7F (capacity limits on live events).
(6) In regulation 15 (enforcement of requirements) for paragraph (9) substitute—
“(9) A local authority may only designate a person for the purpose of this regulation in relation to the requirements in—
(a)
regulation 3,
(b)
regulation 4(1)(b), and
(c)
regulations 7A to 7E.”.
(1)
S.S.I. 2021/277 amended by S.S.I. 2021/299, S.S.I. 2021/349, S.S.I. 2021/384, S.S.I. 2021/453, S.S.I. 2021/475, S.S.I. 2021/496, S.S.I. 2021/497, S.S.I. 2021/498 and S.S.I. 2022/6.JOHN SWINNEY
A member of the Scottish Government
St Andrew’s House,
Edinburgh
At 11.20 a.m. on 20th January 2022EXPLANATORY NOTE
(This note is not part of the Regulations)
These Regulations amend the Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (“the principal Regulations”).
Regulation 2(2) removes the definition of “live event” from regulation 2 of the principal Regulations. This is due to the changes in regulation 2(5), described below, which mean that the definition is no longer needed.
Regulation 2(3) removes regulations 4A, 4B and 4C from the principal Regulations. This means that the following requirements are removed:
The requirements to take measures to ensure the required distance is maintained,
The requirement for seated food and drink consumption, and
The requirement to close nightclubs etc. to members of the public.
Regulation 2(3) also removes regulation 4D from the principal Regulations which was a supplemental provision relating to licensing and which was previously included due to regulation 4C.
Regulation 2(4) amends regulation 7E(1) of the principal Regulations so that in the definition of “late night premises”, paragraph (b) now reads “there is a dancefloor or space where dancing by customers takes place”.
Regulation 2(5) removes regulation 7F, which placed capacity limits on indoor live events.
Regulation 2(6) makes changes to regulation 15(9) of the principal Regulations, to remove the references to regulations 4A, 4B, and 4C, as these regulations have now been removed.