STATUTORY INSTRUMENTS
2021 No. 234
CHILDREN AND YOUNG PERSONS, ENGLAND
The Early Years Foundation Stage (Learning and Development Requirements) (Coronavirus) (Amendment) Order 2021 (revoked)F1
Made
3rd March 2021
Laid before Parliament
5th March 2021
Coming into force
26th March 2021
F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Order revoked (4.1.2024) by The Early Years Foundation Stage (Learning and Development, Early Years Register and Welfare Requirements) (Amendment) Regulations 2023 (S.I. 2023/1338), regs. 1(2), 5(c)Citation and commencement
F11.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Order revoked (4.1.2024) by The Early Years Foundation Stage (Learning and Development, Early Years Register and Welfare Requirements) (Amendment) Regulations 2023 (S.I. 2023/1338), regs. 1(2), 5(c)Amendment of the Early Years Foundation Stage (Learning and Development Requirements) Order 2007
F12.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Order revoked (4.1.2024) by The Early Years Foundation Stage (Learning and Development, Early Years Register and Welfare Requirements) (Amendment) Regulations 2023 (S.I. 2023/1338), regs. 1(2), 5(c)F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Order revoked (4.1.2024) by The Early Years Foundation Stage (Learning and Development, Early Years Register and Welfare Requirements) (Amendment) Regulations 2023 (S.I. 2023/1338), regs. 1(2), 5(c). . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Order revoked (4.1.2024) by The Early Years Foundation Stage (Learning and Development, Early Years Register and Welfare Requirements) (Amendment) Regulations 2023 (S.I. 2023/1338), regs. 1(2), 5(c)