SCOTTISH STATUTORY INSTRUMENTS
2020 No. 56
NATIONAL ASSISTANCE SERVICES
The National Assistance (Sums for Personal Requirements) (Scotland) Regulations 2020 (revoked)F1
Made
20th February 2020
Laid before the Scottish Parliament
24th February 2020
Coming into force
6th April 2020
F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (12.4.2021) by The National Assistance (Sums for Personal Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/76), regs. 1(1), 3 (as amended by S.S.I. 2021/115, reg. 3(2))Citation, commencement and extent
F11.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (12.4.2021) by The National Assistance (Sums for Personal Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/76), regs. 1(1), 3 (as amended by S.S.I. 2021/115, reg. 3(2))Sum needed for personal requirements
F12.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (12.4.2021) by The National Assistance (Sums for Personal Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/76), regs. 1(1), 3 (as amended by S.S.I. 2021/115, reg. 3(2))Revocation
F13.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (12.4.2021) by The National Assistance (Sums for Personal Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/76), regs. 1(1), 3 (as amended by S.S.I. 2021/115, reg. 3(2))F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (12.4.2021) by The National Assistance (Sums for Personal Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/76), regs. 1(1), 3 (as amended by S.S.I. 2021/115, reg. 3(2)). . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (12.4.2021) by The National Assistance (Sums for Personal Requirements) (Scotland) Regulations 2021 (S.S.I. 2021/76), regs. 1(1), 3 (as amended by S.S.I. 2021/115, reg. 3(2))