SCOTTISH STATUTORY INSTRUMENTS
2020 No. 325
PUBLIC HEALTH
The Health Protection (Coronavirus) (Restrictions and Requirements) (Additional Temporary Measures) (Scotland) Amendment Regulations 2020 (revoked)F1
Made
at 1.50 p.m. on 15th October 2020
Laid before the Scottish Parliament
at 4.00 p.m. on 15th October 2020
Coming into force in accordance with regulation 1(2) and (3)
F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (2.11.2020 at 6.00 a.m.) by The Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Regulations 2020 (S.S.I. 2020/344), reg. 1(1), sch. 8 (with reg. 9)Citation and commencement
F11.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (2.11.2020 at 6.00 a.m.) by The Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Regulations 2020 (S.S.I. 2020/344), reg. 1(1), sch. 8 (with reg. 9)Amendment of the Health Protection (Coronavirus) (Restrictions and Requirements) (Additional Temporary Measures) (Scotland) Regulations 2020
F12.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (2.11.2020 at 6.00 a.m.) by The Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Regulations 2020 (S.S.I. 2020/344), reg. 1(1), sch. 8 (with reg. 9)F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (2.11.2020 at 6.00 a.m.) by The Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Regulations 2020 (S.S.I. 2020/344), reg. 1(1), sch. 8 (with reg. 9). . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (2.11.2020 at 6.00 a.m.) by The Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Regulations 2020 (S.S.I. 2020/344), reg. 1(1), sch. 8 (with reg. 9)