SCOTTISH STATUTORY INSTRUMENTS
2021 No. 481
EDUCATION
The Nutritional Requirements for Food and Drink in Schools (Scotland) Amendment Regulations 2021
Made
at 12.22 p.m. on 20th December 2021
Laid before the Scottish Parliament
at 4.00 p.m. on 20th December 2021
Coming into force
21st December 2021
The Scottish Ministers make the following Regulations in exercise of the powers conferred by sections 56A, 56B and 56D of the Education (Scotland) Act 1980(1) and all other powers enabling them to do so.
(1)
1980 c. 44. Sections 56A, 56B and 56D were inserted by section 3 of the Schools (Health Promotion and Nutrition) (Scotland) Act 2007 (asp 15).Citation and commencement
1.  These Regulations may be cited as the Nutritional Requirements for Food and Drink in Schools (Scotland) Amendment Regulations 2021 and come into force on 21 December 2021.Amendment of the Nutritional Requirements for Food and Drink in Schools (Scotland) Regulations 2020
2.  In the Nutritional Requirements for Food and Drink in Schools (Scotland) Regulations 2020(1), after regulation 2(2) (interpretation and application) insert—
“(3) Where, as a result of local or national disruptions to the supply of food outwith their control, and despite their best endeavours, an education authority is, or the managers of a grant aided school are, unable to provide—
(a)
an item of food or drink which complies with a requirement for that item or for the relevant category of food or drink in schedule 1 or 2 (as appropriate), or
(b)
an item or type of food or drink which is required to be provided under schedule 1 or 2 (as appropriate),
an alternative item of food or drink may be provided even if the circumstances described in paragraph (4) apply.
(4) The circumstances mentioned in paragraph (3) are any (or both) of the following—
(a)
the item does not satisfy a relevant requirement in schedule 1 or 2,
(b)
the provision of that item has the result that a meal provided to pupils does not satisfy the requirements in schedule 3.”.
(1)
S.S.I. 2020/153.SHIRLEY-ANNE SOMERVILLE
A member of the Scottish Government
St. Andrew’s House,
Edinburgh
At 12.22 p.m. on 20th December 2021EXPLANATORY NOTE
(This note is not part of the Regulations)
These Regulations amend the Nutritional Requirements for Food and Drink in Schools (Scotland) Regulations 2020 (“the 2020 Regulations”).
The 2020 Regulations specify the nutritional requirements that education authorities and managers of grant aided schools must comply with in relation to the provision of food and drink in schools. Regulation 2 of these Regulations amends the 2020 Regulations to provide that where, in the event of shortages in the supply of food, an education authority is, or the managers of a grant aided school are, unable to provide food or drink to pupils which complies with the requirements, they may provide food or drink that does not so comply.