SCOTTISH STATUTORY INSTRUMENTS
2021 No. 54
PUBLIC HEALTH
The Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Amendment (No. 15) Regulations 2021 (revoked)F1
Approved by the Scottish Parliament
Made
at 1.49 p.m. on 29th January 2021
Laid before the Scottish Parliament
at 3.00 p.m. on 29th January 2021
Coming into force
30th January 2021
F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (10.4.2023) by The National Assistance (Assessment of Resources) Amendment (Scotland) Regulations 2023 (S.S.I. 2023/19), regs. 1(1), 6(a)Citation and commencement
F11.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (10.4.2023) by The National Assistance (Assessment of Resources) Amendment (Scotland) Regulations 2023 (S.S.I. 2023/19), regs. 1(1), 6(a)Amendment of the Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Regulations 2020
F12.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (10.4.2023) by The National Assistance (Assessment of Resources) Amendment (Scotland) Regulations 2023 (S.S.I. 2023/19), regs. 1(1), 6(a)Changes to levels of areas
F13.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (10.4.2023) by The National Assistance (Assessment of Resources) Amendment (Scotland) Regulations 2023 (S.S.I. 2023/19), regs. 1(1), 6(a)F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (10.4.2023) by The National Assistance (Assessment of Resources) Amendment (Scotland) Regulations 2023 (S.S.I. 2023/19), regs. 1(1), 6(a). . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (10.4.2023) by The National Assistance (Assessment of Resources) Amendment (Scotland) Regulations 2023 (S.S.I. 2023/19), regs. 1(1), 6(a)