SCOTTISH STATUTORY INSTRUMENTS
2021 No. 35
PUBLIC HEALTH
The Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Amendment (No. 14) Regulations 2021
Approved by the Scottish Parliament
Made
at 1.30 p.m. on 22nd January 2021
Laid before the Scottish Parliament
at 3.30 p.m. on 22nd January 2021
Coming into force
23rd January 2021
The Scottish Ministers make the following Regulations in exercise of the power conferred by paragraph 1(1) of schedule 19 of the Coronavirus Act 2020(1) (“the Act”) and all other powers enabling them to do so.
These Regulations are made in response to the serious and imminent threat to public health which is posed by the incidence and spread of coronavirus in Scotland.
The Scottish Ministers consider that the restrictions and requirements imposed by these Regulations are proportionate to what they seek to achieve, which is a public health response to that threat.
In accordance with paragraph 6(2) and (3) of schedule 19 of the Act, the Scottish Ministers are of the opinion that, by reason of urgency, it is necessary to make these Regulations without a draft having been laid before, and approved by, a resolution of the Scottish Parliament.
(1)
2020 c.7.Citation and commencement
1.  These Regulations may be cited as the Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Amendment (No. 14) Regulations 2021 and come into force on 23 January 2021.Amendment of the Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Regulations 2020
2.  The Health Protection (Coronavirus) (Restrictions and Requirements) (Local Levels) (Scotland) Regulations 2020(1) are amended in accordance with regulations 3 and 4.
(1)
S.S.I. 2020/344, amended by S.S.I. 2020/347, S.S.I. 2020/374, S.S.I. 2020/389, S.S.I. 2020/392, S.S.I. 2020/400, S.S.I. 2020/ 415, S.S.I. 2020/427, S.S.I. 2020/439, S.S.I. 2020/452, S.S.I. 2020/471, S.S.I. 2021/1, S.S.I. 2021/3, S.S.I. 2021/17 and S.S.I. 2021/25.Amendment to schedule 4: residential properties (eviction)
3.  In schedule 4 (level 3 restrictions), in paragraph 9A(1)—
(a)
the cross-heading of paragraph 9A becomes “Residential properties (eviction)”, and
(b)
in sub-paragraph (4)—
(i)
for the definition of “a charge for removing”, substitute—
““a charge for removing” means a charge to remove from subjects or premises, as required by section 216(1) (service of charge before removing) of the 2007 Act(2) in the case of a decree for removing from heritable property,”, and
(ii)
for the definition of “a decree for removing from heritable property”, substitute—
““a decree for removing from heritable property” means a decree, order or warrant of a type mentioned in any of the following paragraphs of section 214(2) of the 2007 Act(3)—
(a)
paragraph (a) or (b), where the decree or warrant is obtained by a creditor in a security over land used to any extent for residential purposes following an application under either or both—
(i)
section 5(1) (power to eject proprietor in personal occupation) of the Heritable Securities (Scotland) Act 1894(4), or
(ii)
section 24(1B) (application by creditor to court for remedies on default) of the Conveyancing and Feudal Reform (Scotland) Act 1970(5),
(b)
paragraph (f),
(c)
paragraph (g), or
(d)
paragraph (k).”.
(1)
Paragraph 9A was inserted by S.S.I. 2021/17.
(2)
Section 216(1) was amended by paragraph 92(a) of schedule 5 of the Criminal Finances Act 2017 (c.22).
(3)
Section 214(2) was relevantly amended by paragraph 10(2)(b) of schedule 4 of the Private Housing (Tenancies) (Scotland) Act 2016 (asp 19) and S.S.I. 2019/51.
(4)
1894 c.44. Section 5 was renumbered as section 5(1) by section 3(1)(a) of the Home Owner and Debtor Protection (Scotland) Act 2010 (asp 6).
(5)
1970 c.35. Section 24(1B) was inserted by section 2(2) of the Home Owner and Debtor Protection (Scotland) Act 2010 (asp 6).Amendment to schedule 5: residential properties (eviction)
4.  In schedule 5 (level 4 restrictions), in paragraph 10A(1)—
(a)
the cross-heading of the paragraph becomes “Residential properties (eviction)”, and
(b)
in sub-paragraph (4)—
(i)
for the definition of “a charge for removing”, substitute—
““a charge for removing” means a charge to remove from subjects or premises, as required by section 216(1) (service of charge before removing) of the 2007 Act in the case of a decree for removing from heritable property,”, and
(ii)
for the definition of “a decree for removing from heritable property”, substitute—
““a decree for removing from heritable property” means a decree, order or warrant of a type mentioned in any of the following paragraphs of section 214(2) of the 2007 Act—
(a)
paragraph (a) or (b), where the decree or warrant is obtained by a creditor in a security over land used to any extent for residential purposes following an application under either or both—
(i)
section 5(1) (power to eject proprietor in personal occupation) of the Heritable Securities (Scotland) Act 1894, or
(ii)
section 24(1B) (application by creditor to court for remedies on default) of the Conveyancing and Feudal Reform (Scotland) Act 1970,
(b)
paragraph (f),
(c)
paragraph (g), or
(d)
paragraph (k).”.
(1)
Paragraph 10A was inserted by S.S.I. 2021/17.AILEEN CAMPBELL
A member of the Scottish Government
St Andrew’s House,
Edinburgh
At 1.30 p.m. on 22nd January 2021EXPLANATORY NOTE
(This note is not part of the Regulations)
These Regulations amend the Health Protection (Restrictions and Requirements) (Local Levels) (Scotland) Regulations 2020 (“the Local Levels Regulations”). These Regulations come into force on 23 January 2021.
Regulation 3 amends schedule 4 of the Local Levels Regulations to prevent, in a level 3 area, attendance at a dwelling house for the purpose of serving a charge for removing or executing a decree for removing from a residential property where a creditor under a standard security is seeking to eject a debtor who is residing in the property.
Regulation 4 amends schedule 5 of the Local Levels Regulations to prevent, in a level 4 area, attendance at a dwelling house for the purpose of serving a charge for removing or executing a decree for removing from a residential property where a creditor under a standard security is seeking to eject a debtor who is residing in the property.