SCOTTISH STATUTORY INSTRUMENTS
2021 No. 277
PUBLIC HEALTH
The Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (revoked)F1
Approved by the Scottish Parliament
Made
at 1.50 p.m. on 5th August 2021
Laid before the Scottish Parliament
at 4.00 p.m. on 5th August 2021
Coming into force
9th August 2021
F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Citation, commencement and application
F11.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Interpretation
F12.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Requirement to collect and share information: restaurants, cafes, bars, public houses etc.
F13.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Guidance on minimising exposure to and requirement to take measures to minimise incidence and spread of coronavirus
F14.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Requirements to take measures to ensure the required distance is maintained
F14A.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Requirement for seated food and drink consumption
F14B.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Requirement to close nightclubs etc. to members of the public
F14C.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Nightclubs etc. – supplemental provision – licensing
F14D.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Requirement to wear face covering in certain indoor places
F15.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Places where face coverings must be worn in accordance with regulation 5
F16.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Requirement to wear face coverings on public transport
F17.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Requirement to ensure that persons are fully vaccinated, have received appropriate test results, or are otherwise exempt, when in certain places
F17A.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Requirement to treat information as confidential
F17B.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Requirement to have a compliance plan
F17C.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Supplemental provision – licensing
F17D.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Interpretation of regulations 7A to 7D
F17E.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Capacity limits on live events
F17F.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Capacity limits on stadia and live events
F18.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Applications for exemption from capacity limits
F19.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Decisions on applications for exemption from capacity limits
F110.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Guidance on applications for exemption from capacity limits
F111.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Revocation and variation of approval of exemption from capacity limits
F112.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Scottish Ministers' power to call in applications for exemption from capacity
F113.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Offence of breaching conditions of approval to hold larger live event
F114.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Enforcement of requirements
F115.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Offences and penalties
F116.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Power of entry
F116A.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Fixed penalty notices
F117.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Review of requirements
F118.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Expiry
F119.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2Revocation
F120.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (18.4.2022) by The Health Protection (Coronavirus) (Requirements) (Scotland) Revocation (No. 2) Regulations 2022 (S.S.I. 2022/133), regs. 1, 2