SCOTTISH STATUTORY INSTRUMENTS
2021 No. 498
PUBLIC HEALTH
The Health Protection (Coronavirus) (Requirements) (Scotland) Amendment (No. 8) Regulations 2021
Approved by the Scottish Parliament
Made
24th December 2021
Laid before the Scottish Parliament
29th December 2021
Coming into force
at 5.00 a.m. on 27th December 2021
The Scottish Ministers make the following Regulations in exercise of the power conferred by paragraph 1(1) of schedule 19 of the Coronavirus Act 2020(1) (“the Act”) and all other powers enabling them to do so.
These Regulations are made in response to the serious and imminent threat to public health which is posed by the incidence and spread of coronavirus in Scotland.
The Scottish Ministers consider that the requirements imposed by the Regulations are proportionate to what they seek to achieve, which is a public health response to that threat.
In accordance with paragraph 6(2) and (3) of schedule 19 of the Act, the Scottish Ministers are of the opinion that, by reason of urgency, it is necessary to make these Regulations without a draft having been laid before, and approved by, a resolution of the Scottish Parliament.
(1)
2020 c. 7.Citation and commencement
1.  These Regulations may be cited as the Health Protection (Coronavirus) (Requirements) (Scotland) Amendment (No. 8) Regulations 2021, and come into force at 5.00 a.m. on 27 December 2021.Amendment of the Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021
2.  After regulation 4C (requirement to close nightclubs etc. to members of the public) of the Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021(1) insert—
“Nightclubs etc. – supplemental provision – licensing
4D.—(1) Where paragraph (2) applies, a person responsible for premises which are ceased to be operated as a nightclub, dance hall or discotheque does not commit a licensing offence.
(2) This paragraph applies where the reason for the cessation is to prevent the requirements in regulation 4C(1) from applying in relation to the premises.
(3) The person referred to in paragraph (1) includes a person to whom a licence or permit which relates to the premises has been granted.”.
(1)
S.S.I. 2021/277, amended by S.S.I. 2021/299, S.S.I. 2021/349, S.S.I. 2021/384, S.S.I. 2021/453, S.S.I. 2021/475, S.S.I. 2021/496 and S.S.I. 2021/497. Regulation 4C is inserted by S.S.I. 2021/497.JOHN SWINNEY
A member of the Scottish Government
St Andrew’s House,
Edinburgh
24th December 2021EXPLANATORY NOTE
(This note is not part of the Regulations)
These Regulations amend the Health Protection (Coronavirus) (Requirements) (Scotland) Regulations 2021 (“the principal Regulations”).
They provide that a person responsible for premises which cease to operate as a nightclub, dance hall or discotheque does not commit a licensing offence, where that person does so to prevent the application of the requirements of regulation 4C(1) of the principal Regulations, under which such premises may not open under certain circumstances from 5.00 a.m. on 27 December 2021.