This Statutory Instrument has been made in consequence of defects in S.I. 2023/1311 and is being issued free of charge to all known recipients of that Statutory Instrument.
STATUTORY INSTRUMENTS
2024 No. 553
CHARITIES, ENGLAND AND WALES
HOUSING, ENGLAND
The Charitable Incorporated Organisations (Notification Requirements: Social Housing) (Amendment) Regulations 2024
Made
23rd April 2024
Laid before Parliament
25th April 2024
Coming into force
17th May 2024
The Secretary of State makes these Regulations in exercise of the powers conferred by sections 228(3)(d), 234(1), 246(1) and (2)(d) and 347(3) of the Charities Act 2011(1).
In accordance with section 348(4)(b)(2) of that Act, the Secretary of State has consulted such persons or bodies of persons as the Secretary of State considers appropriate.
(1)
2011 c. 25; section 347(3) was amended by S.I. 2016/997.
(2)
Section 348(4) was amended by S.I. 2016/997.Citation, commencement and extent
1.—(1) These Regulations may be cited as the Charitable Incorporated Organisations (Notification Requirements: Social Housing) (Amendment) Regulations 2024.
(2) These Regulations come into force on 17th May 2024.
(3) These Regulations extend to England and Wales.Amendment of the Charitable Incorporated Organisations (Notification Requirements: Social Housing) Regulations 2023
2.  In regulation 4 of the Charitable Incorporated Organisations (Notification Requirements: Social Housing) Regulations 2023(1)—
(a)
in paragraph (2), for “relevant company” substitute “relevant PRP”;
(b)
in paragraph (4), in the definition of “relevant resolution”, in paragraph (b), for “any requirements” to the end, substitute “regulation 4(4) of the Charitable Incorporated Organisations (Conversion) Regulations 2017(2).”.
(1)
S.I. 2023/1311.
(2)
S.I. 2017/1232.Signed by authority of the Secretary of State for Levelling Up, Housing and Communities
Scott of Bybrook
Parliamentary Under Secretary of State
Department for Levelling Up, Housing and Communities
23rd April 2024EXPLANATORY NOTE
(This note is not part of the Regulations)
These Regulations amend the Charitable Incorporated Organisations (Notification Requirements: Social Housing) Regulations 2023 (S.I. 2023/1311) (“the principal Regulations”) which make provision related to certain constitutional and other business changes of private registered providers of social housing that are charitable incorporated organisations (“CIOs”), that wish to become CIOs, or that enter into transactions that involve CIOs. They are made to clarify the drafting of two provisions in regulation 4 of the principal Regulations.
Regulation 4 of the principal Regulations imposes on a private registered provider of social housing that is a charitable company or community interest company two requirements: (i) to notify the Regulator of Social Housing if it passes a relevant resolution to convert into a CIO; and (ii) to supply the Charity Commission for England and Wales (“the Charity Commission”) with a statement confirming that the Regulator has been so notified when they apply to the Charity Commission to be converted into a CIO and for the CIO’s registration as a charity.
Regulation 2(a) of these Regulations substitutes the defined term “relevant PRP” for the term “relevant company” in regulation 4(2) of the principal Regulations, which relates to the supply of the statement mentioned above to the Charity Commission.
Regulation 2(b) of these Regulations clarifies the meaning of a “relevant resolution” in the case of a community interest company in regulation 4(4) of the principal Regulations.
A full impact assessment has not been produced for this instrument as no, or no significant, impact on the private, voluntary or public sector is foreseen.