WELSH STATUTORY INSTRUMENTS
2021 No. 367 (W. 112)
EDUCATION, WALES
The Government of Maintained Schools (Training Requirements for Governors) (Wales) (Amendment) Regulations 2021
Made
19 March 2021
Laid before Senedd Cymru
23 March 2021
Coming into force
14 April 2021
The Welsh Ministers, in exercise of the powers in sections 22(3) and (4) and 32(2) of the Education (Wales) Measure 2011(1), make the following Regulations.
(1)
2011 nawm 7.Title, commencement and interpretation
1.—(1) The title of these Regulations is the Government of Maintained Schools (Training Requirements for Governors) (Wales) (Amendment) Regulations 2021 and they come into force on 14 April 2021.
(2) In these Regulations, “the 2013 Regulations” means the Government of Maintained Schools (Training Requirements for Governors) (Wales) Regulations 2013(1).
(1)
S.I. 2013/2124 (W. 207), amended by S.I. 2014/1132 (W. 111), S.I. 2014/2225 (W. 214), S.I. 2016/137 (W. 66) and S.I. 2018/766 (W. 153).Amendment of the Government of Maintained Schools (Training Requirements for Governors) (Wales) Regulations 2013
2.  In regulation 2(1) of the 2013 Regulations, in the definition of “the school performance data training”, for “in June 2018 and called “Training for school governors in Wales on understanding school data””, substitute “on the gov.wales website(1) on 18 November 2020 and called “Training for school governors in Wales: understanding the role of data in supporting self-evaluation and improvement in schools””.
(1)
https://gov.wales/training-school-governors-wales-understanding-role-data-supporting-self-evaluation-and-improvement.School performance data training undertaken by a governor that is to be treated as meeting the training requirements under the 2013 Regulations
3.—(1) A governor who, between 18 November 2020 and the coming into force of these Regulations, completed training for governors about school performance data specified in the 2020 document provided by, or on behalf of, a local authority, is to be treated, for the purpose of regulation 5(1) and (3) of the 2013 Regulations, as having completed the required school performance data training.
(2) In this regulation—
“the 2020 document” (“dogfen 2020”) means the school performance data training document published by the Welsh Ministers on the gov.wales website on 18 November 2020 and called “Training for school governors in Wales: understanding the role of data in supporting self-evaluation and improvement in schools”;
“school performance data training” (“hyfforddiant ar ddata perfformiad ysgolion”) has the meaning given by regulation 2(1) of the 2013 Regulations.Saving provision
4.  Nothing in these Regulations applies to a governor who, before the coming into force of these Regulations, completed the school performance data training required by the 2013 Regulations.Kirsty Williams
Minister for Education, one of the Welsh Ministers
19 March 2021EXPLANATORY NOTE
(This note is not part of the Regulations)
The Government of Maintained Schools (Training Requirements for Governors) (Wales) Regulations 2013 (“the 2013 Regulations”) set out the training requirements for governors at maintained schools in Wales. The training requirements in relation to school performance data are currently set out in a document entitled “Training for school governors in Wales on understanding school data”, which is referred to in the definition of “the school performance data training” (“the 2018 document”) in regulation 2(1) of the 2013 Regulations. Regulation 2 of these Regulations amends that definition so as to replace the reference to the 2018 Document with a reference to the new school performance data training set out in a document entitled “Training for school governors in Wales: understanding the role of data in supporting self-evaluation and improvement in schools” published in November 2020 (“the 2020 document”). It can be found on the Welsh Government website: www.gov.wales.
Regulation 3 provides that school governors who completed the school performance data training in the 2020 document, before the coming into force of these Regulations, are to be treated as meeting the school performance data training requirements under the 2013 Regulations.
Regulation 4 contains a saving provision the effect of which is that existing school governors do not have to complete the training in the 2020 document if they have already completed the training required by the 2013 Regulations before these Regulations came into force.
The Welsh Ministers’ Code of Practice on the carrying out of Regulatory Impact Assessments was considered in relation to these Regulations. As a result, it was not considered necessary to carry out a regulatory impact assessment as to the likely costs and benefits of complying with these Regulations.