STATUTORY INSTRUMENTS
2020 No. 939
CHILDREN AND YOUNG PERSONS, ENGLAND
The Early Years Foundation Stage (Learning and Development and Welfare Requirements) (Coronavirus) (Amendment) (No. 2) Regulations 2020 (revoked)F1
Made
2nd September 2020
Laid before Parliament
4th September 2020
Coming into force
26th September 2020
F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (4.1.2024) by The Early Years Foundation Stage (Learning and Development, Early Years Register and Welfare Requirements) (Amendment) Regulations 2023 (S.I. 2023/1338), regs. 1(2), 5(b)Citation, commencement and interpretation
F11.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (4.1.2024) by The Early Years Foundation Stage (Learning and Development, Early Years Register and Welfare Requirements) (Amendment) Regulations 2023 (S.I. 2023/1338), regs. 1(2), 5(b)Citation, commencement and interpretation
F12.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (4.1.2024) by The Early Years Foundation Stage (Learning and Development, Early Years Register and Welfare Requirements) (Amendment) Regulations 2023 (S.I. 2023/1338), regs. 1(2), 5(b)Review and expiry
F13.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (4.1.2024) by The Early Years Foundation Stage (Learning and Development, Early Years Register and Welfare Requirements) (Amendment) Regulations 2023 (S.I. 2023/1338), regs. 1(2), 5(b)Amendment of the 2007 Order
F14.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (4.1.2024) by The Early Years Foundation Stage (Learning and Development, Early Years Register and Welfare Requirements) (Amendment) Regulations 2023 (S.I. 2023/1338), regs. 1(2), 5(b)Amendment of the 2012 Regulations
F15.  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (4.1.2024) by The Early Years Foundation Stage (Learning and Development, Early Years Register and Welfare Requirements) (Amendment) Regulations 2023 (S.I. 2023/1338), regs. 1(2), 5(b)F1. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (4.1.2024) by The Early Years Foundation Stage (Learning and Development, Early Years Register and Welfare Requirements) (Amendment) Regulations 2023 (S.I. 2023/1338), regs. 1(2), 5(b). . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Textual Amendments
F1
Regulations revoked (4.1.2024) by The Early Years Foundation Stage (Learning and Development, Early Years Register and Welfare Requirements) (Amendment) Regulations 2023 (S.I. 2023/1338), regs. 1(2), 5(b)